@import "variables";

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $primary-blue;
}

.text {
  font-size: 28px;
  margin-left: 10px;
}
